@font-face {
    font-family: 'Comfortaa', serif;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
}
@font-face {
    font-family: 'Rubik Bubbles', serif;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rubik+Bubbles&display=swap');
}

p{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

h1{
    font-family: 'RubikBubbles', sans-serif;
    text-align: center;
}

.button_js.col-12{
    text-align: center;
}

#myButton {
    background-color: rgb(162, 149, 249);
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa';
    width: 260px;
    height: 20px;
    border-radius: 15px;
}